* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    height:100%;
    min-height: 100%;
}

body > div {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.bg {
    background: url("images/astronomyBG.jpg") no-repeat center center;
    background-size: cover;
}

header {
    height: 3em;
    background-color: darkslategray;
    color: white;
    padding: 0.75em;
}



#logo {
    font-family: "indie Flower", cursive;
    line-height: 0.75em;
    font-size: 2em;
    padding-left: 1em;
}
#navToggle {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 2em;
    font-weight: bold;
}
#navToggle a {
    text-decoration: none;
    color: black;
}
#closeButton {
    display: none;
    font-size: 3em;
    text-align: right;
    padding-bottom: 0.5em;
}
#closeButton i {
    background-color: rgba(26,26,26, 0.5);
    padding: 0.5em;
}
nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.97;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
}
nav > ul {
   list-style-type: none;
}
nav > ul > li {
    padding: 1em 0;
    border-bottom: 1px solid rgba(26,26,26, 0.5);;
    
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

/*nav > ul > li > a:hover {
    color: lightblue;
}*/

#quote {
    padding: 4em 2em 1em 2em;
    background-color: white;
    width: 90%;
    margin-left: 2em;
    margin-right:2em;
    border-radius: 1em;
}
#quoteText {
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}
#quoteCite {
    text-align: right;
    padding-top: 1.5em;
    padding-right: 2em;
}
#quote > div {
    padding-top: 3em;
    background-color: white;
    display: flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    padding: 1em;
    background-color: darkgray;
    color: black;
    border-radius: 0.2em;
    color: white;
    font-weight: bold;
    margin: auto;
    border: none;
    outline: none;
}

body > div > div {
    display: flex;
    justify-content: space-between;
    align-items:center

}

#tweet {
    font-size: 2em;
   padding: 0.25em;
   border-radius: 10%;
    background-color: rgb(94,169,221);
    color: white;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    width: 100%;
    background-color: rgb(48,130,172);
    text-align: center;
    color:white;
    font-size: 0.8em;
}

/*Header Themes*/
.astronomyHeader {
    background-color: #43414f;
    color: white;
    
}
.literatureHeader{
    background-color: #a84f28;
    color: white; 
    
}
.technologyHeader {
    background-color: #3082AC;
    color: white;
    
}
.moviesHeader {
    background-color: #fc8e00;
    color: white;
}

/*genral themes*/
.astronomyTheme {
    background-color: #43414f;
    color: white;
    
}
.literatureTheme {
    background-color: #a84f28;
    color: white;    
}
.technologyTheme {
    background-color: #3082AC;
    color: white;
    
}
.moviesTheme {
    background-color: #fc8e00;
    color: white;
}

.astronomySelected {
    background-color: #141319;
    color: gray;
}
.literatureSelected {
    background-color: #492c1f;
    color: white;    
}
.technologySelected {
    background-color: #0E2546;
    color: white;
}
.moviesSelected {
    background-color: #a05a00;
    color: white;    
}

.astronomyButton:hover {
    background-color: #141319;
    color: gray;
}
.literatureButton:hover {
    background-color: #492c1f;
    color: #c28970;    
}
.technologyButton:hover {
    background-color: #0E2546;
    color: #4d86db;
}
.moviesButton:hover {
    background-color: #a05a00;
    color: #ffb24f;    
}

@media all and (min-width: 700px) {
    nav {
        display: block;
        position: static;
        background-color: #3082AC;
        color: white;
        width: auto;
        height: auto;
        text-align: right;
    }
    nav > ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding-right: 2em;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
    nav > ul > li {
        padding: 0.5em 0.75em;
        border: none;
    }
    #navToggle {
        display: none;
    }
    nav > ul > li > a {
        font-size: 1.3em;
    }
    #closeButton {
        display: none;
    } 
    #quote {
        margin: auto;
        width: 60%;
    }
    .selectedOption {
        border-radius: 0.5em;
    }
    .astronomyHeader {
        background-color: white;
        color: black;
    }
    .literatureHeader {
        background-color: white;
        color: black;
    }
    .technologyHeader {
        background-color: white;
        color: black;
        
    }
    .moviesHeader {
        background-color: white;
        color: black;        
    }
}

@media all and (min-width: 1000px) {
    #quote {
        margin: auto;
        width: 40%;
    }

}
